<div class="container">
    <div class="row">

        <div class="left">
            <h4>Your favorites lists</h4>
            <ul>
                <li ng-repeat="list in favlists track by list.name">
                    <a href=""
                       ng-class="{selected: selectedList == list}"
                       ng-click="getMoviesByListId(list)">{{list.name}}</a>
                    <button ng-click="deleteList(list)">delete</button>
                </li>
            </ul>
            <div>
                new list:<input ng-model="newFavListName">
                <button ng-click="createFavList()">create</button>
            </div>
        </div>

        <div class="middle">
            <h4>Movies</h4>
            <ul>
                <li ng-repeat="movie in movies track by movie.themoviedbId">
                    <img ng-if="movie.thumbnailUrl" ng-src="{{movie.thumbnailUrl}}" width="60">
                    {{movie.title}} <span ng-if="movie.release_date">({{movie.release_date}})</span>
                    <button ng-click="deleteMovieFromList(movie)">delete</button>
                </li>
            </ul>
        </div>

        <div class="right">
        </div>

    </div>
</div>