<div>
    <input ng-model="searchText" ng-keydown="($event.which === 13 || $event.which === 32) && search()">
    <button ng-click="search()">search</button>
</div>

<ul>
    <li ng-repeat="movie in movies track by movie.id">
        <img ng-if="movie.poster_path" ng-src="http://image.tmdb.org/t/p/w300{{movie.poster_path}}" width="60">
        {{movie.title}} <span ng-if="movie.release_date">({{movie.release_date}})</span>
        <button ng-click="addMovieToList(movie)">add to list:</button>
        <select id="favListId"
                ng-change="onChange()"
                ng-model="model.favListId"
                ng-options="favList.id as favList.name for favList in favLists"></select>
    </li>
</ul>