
{
    "swagger":"2.0",
    "info":{
        "title":"REST API for Oracle Field Service Cloud Service February 2016",
        "version":"2016.05.02",
        "description":"<p>Oracle Field Service Cloud Service extends your customer service operations into the field, allowing you to achieve operational excellence and improve productivity while surpassing customer expectations, no matter how complex your organization.</p><p>Oracle Field Service Cloud Service provides multiple public REST APIs that can be used to access data stored in Field Service Cloud and construct integrations to other systems. These systems could be other Oracle Cloud applications or offerings, or they could be external systems in a customer or partner network. Secure access to these services requires appropriate authentication for the environment, standard HTTP methods, and JSON syntax.</p>",
        "x-summary":"Oracle Field Service Cloud Service extends your customer service operations into the field, allowing you to achieve operational excellence and improve productivity while surpassing customer expectations, no matter how complex your organization."
    },
    "host":"api.etadirect.com",
    "schemes":["https"],
    "paths":{
        "/rest/ofscCore/v1/folders/dailyExtract/folders/{#/definitions/dailyExtractDate}/files/{#/definitions/dailyExtractFilename}":{
            "get":{
                "produces":[
                    "application/octet-stream"
                ],
                "summary":"Download daily extract file",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/folders/dailyExtract/folders/{#/definitions/dailyExtractDate}/files/{#/definitions/dailyExtractFilename}",
                "x-relation":[
                    "daily-extract-subfolder-files"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"#/definitions/dailyExtractDate",
                        "in":"path",
                        "description":"Daily extract date of form: YYYY-MM-DD",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"#/definitions/dailyExtractFilename",
                        "in":"path",
                        "description":"Daily extract filename",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/DailyExtract"
                ],
                "x-internal-id":"rest-ofscCore-v1-folders-dailyExtract-folders-{#-definitions-dailyExtractDate}-files-{#-definitions-dailyExtractFilename}-get"
            }
        },
        "/rest/ofscCore/v1/folders/dailyExtract/folders/{#/definitions/dailyExtractDate}/files":{
            "get":{
                "produces":[
                    "application/json"
                ],
                "summary":"Get list of daily extract files for a date",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/folders/dailyExtract/folders/{#/definitions/dailyExtractDate}/files",
                "x-relation":[
                    "daily-extract-subfolder-files"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/dailyExtractDateFiles"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"#/definitions/dailyExtractDate",
                        "in":"path",
                        "description":"Daily extract date of form: YYYY-MM-DD",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/DailyExtract"
                ],
                "x-internal-id":"rest-ofscCore-v1-folders-dailyExtract-folders-{#-definitions-dailyExtractDate}-files-get"
            }
        },
        "/rest/ofscCore/v1/folders/dailyExtract/folders":{
            "get":{
                "produces":[
                    "application/json"
                ],
                "summary":"Get daily extract dates",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/folders/dailyExtract/folders",
                "x-relation":[
                    "daily-extract-subfolders"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/dailyExtractSubfolders"
                        },
                        "description":""
                    }
                },
                "parameters":[
                ],
                "tags":[
                    "Core/DailyExtract"
                ],
                "x-internal-id":"rest-ofscCore-v1-folders-dailyExtract-folders-get"
            }
        },
        "/rest/ofscCore/v1/users/{login}/collaborationGroups":{
            "get":{
                "summary":"Get collaboration groups",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/users/{login}/collaborationGroups",
                "x-relation":[
                    "get-collaboration-groups"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/collaborationGroups"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"login",
                        "in":"path",
                        "description":"Login of this user account - it has to be unique per instance",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Users"
                ],
                "x-internal-id":"rest-ofscCore-v1-users-{login}-collaborationGroups-get"
            },
            "post":{
                "summary":"Add collaboration groups",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/users/{login}/collaborationGroups",
                "x-relation":[
                    "add-collaboration-groups"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/collaborationGroups"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"login",
                        "in":"path",
                        "description":"Login of this user account - it has to be unique per instance",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/collaborationGroups"
                        }
                    }
                ],
                "tags":[
                    "Core/Users"
                ],
                "x-internal-id":"rest-ofscCore-v1-users-{login}-collaborationGroups-post"
            },
            "delete":{
                "summary":"Delete collaboration groups",
                "description":"",
                "operationId":"delete /rest/ofscCore/v1/users/{login}/collaborationGroups",
                "x-relation":[
                    "delete"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"login",
                        "in":"path",
                        "description":"Login of this user account - it has to be unique per instance",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Users"
                ],
                "x-internal-id":"rest-ofscCore-v1-users-{login}-collaborationGroups-delete"
            }
        },
        "/rest/ofscCore/v1/users/{login}":{
            "get":{
                "produces":[
                    "application/json"
                ],
                "summary":"Get user",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/users/{login}",
                "x-relation":[
                    "canonical"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/user"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"login",
                        "in":"path",
                        "description":"Login of this user account - it has to be unique per instance",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Users"
                ],
                "x-internal-id":"rest-ofscCore-v1-users-{login}-get"
            },
            "put":{
                "produces":[
                    "application/json"
                ],
                "summary":"Create user",
                "description":"",
                "operationId":"put /rest/ofscCore/v1/users/{login}",
                "x-relation":[
                    "replace"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/user"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"login",
                        "in":"path",
                        "description":"Login of this user account - it has to be unique per instance",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/user"
                        }
                    }
                ],
                "tags":[
                    "Core/Users"
                ],
                "x-internal-id":"rest-ofscCore-v1-users-{login}-put"
            },
            "patch":{
                "produces":[
                    "application/json"
                ],
                "summary":"Update user",
                "description":"",
                "operationId":"patch /rest/ofscCore/v1/users/{login}",
                "x-relation":[
                    "update"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/user"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"login",
                        "in":"path",
                        "description":"Login of this user account - it has to be unique per instance",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/user"
                        }
                    }
                ],
                "tags":[
                    "Core/Users"
                ],
                "x-internal-id":"rest-ofscCore-v1-users-{login}-patch"
            },
            "delete":{
                "produces":[
                    "application/json"
                ],
                "summary":"Delete user",
                "description":"",
                "operationId":"delete /rest/ofscCore/v1/users/{login}",
                "x-relation":[
                    "delete"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"login",
                        "in":"path",
                        "description":"Login of this user account - it has to be unique per instance",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Users"
                ],
                "x-internal-id":"rest-ofscCore-v1-users-{login}-delete"
            }
        },
        "/rest/ofscCore/v1/users":{
            "get":{
                "produces":[
                    "application/json"
                ],
                "summary":"Get users",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/users",
                "x-relation":[
                    "instances"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/users"
                        },
                        "description":""
                    }
                },
                "parameters":[
                ],
                "tags":[
                    "Core/Users"
                ],
                "x-internal-id":"rest-ofscCore-v1-users-get"
            }
        },
        "/rest/ofscCore/v1/events/subscriptions/{subscriptionId}":{
            "get":{
                "produces":[
                    "application/json"
                ],
                "summary":"Get subscription detail info",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/events/subscriptions/{subscriptionId}",
                "x-relation":[
                    "canonical"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/subscriptionInfoResponse"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"subscriptionId",
                        "in":"path",
                        "description":"Subscription Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Events"
                ],
                "x-internal-id":"rest-ofscCore-v1-events-subscriptions-{subscriptionId}-get"
            }
        },
        "/rest/ofscCore/v1/events/subscriptions":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Create subscription",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/events/subscriptions",
                "x-relation":[
                    "create"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/subscriptionInfoResponse"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/subscriptionInfo"
                        }
                    }
                ],
                "tags":[
                    "Core/Events"
                ],
                "x-internal-id":"rest-ofscCore-v1-events-subscriptions-post"
            }
        },
        "/rest/ofscCore/v1/events":{
            "get":{
                "produces":[
                    "application/json"
                ],
                "consumes":[
                    "application/x-www-form-urlencoded"
                ],
                "summary":"Get events",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/events",
                "x-relation":[
                    "get-events"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "type":"object",
                            "title":"Events collection",
                            "description":"Collection of events to be returned",
                            "properties":{
                                "nextPage":{
                                    "type":"string",
                                    "title":"Next page",
                                    "description":"Next page identifier. Pass it to the next request as 'page' parameter to continue getting pages of events."
                                },
                                "found":{
                                    "type":"string"
                                },
                                "items":{
                                    "type":"array",
                                    "items":{
                                        "$ref":"#/definitions/eventGenericFields"
                                    }
                                }
                            }
                        },
                        "description":""
                    }
                },
                "parameters":[
                ],
                "tags":[
                    "Core/Events"
                ],
                "x-internal-id":"rest-ofscCore-v1-events-get"
            }
        },
        "/rest/ofscCore/v1/activities/{activityId}/custom-actions/cancel":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Cancel activity",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/activities/{activityId}/custom-actions/cancel",
                "x-relation":[
                    "cancel"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/getActivitySchema"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Unique identifier of activity in Oracle Field Service Cloud",
                        "type":"integer",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/customActionActivityStatusChangeSchema"
                        }
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-custom-actions-cancel-post"
            }
        },
        "/rest/ofscCore/v1/activities/{activityId}":{
            "patch":{
                "produces":[
                    "application/json"
                ],
                "summary":"Update activity",
                "description":"",
                "operationId":"patch /rest/ofscCore/v1/activities/{activityId}",
                "x-relation":[
                    "update"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/getActivitySchema"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Unique identifier of activity in Oracle Field Service Cloud",
                        "type":"integer",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/updateActivitySchema"
                        }
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-patch"
            },
            "delete":{
                "produces":[
                    "application/json"
                ],
                "summary":"Delete activity",
                "description":"",
                "operationId":"delete /rest/ofscCore/v1/activities/{activityId}",
                "x-relation":[
                    "delete"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Unique identifier of activity in Oracle Field Service Cloud",
                        "type":"integer",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-delete"
            },
            "get":{
                "produces":[
                    "application/json"
                ],
                "summary":"Get activity",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/activities/{activityId}",
                "x-relation":[
                    "canonical"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/getActivitySchema"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Unique identifier of activity in Oracle Field Service Cloud",
                        "type":"integer",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-get"
            }
        },
        "/rest/ofscCore/v1/activities/{activityId}/resourcePreferences":{
            "put":{
                "produces":[
                    "application/json"
                ],
                "summary":"Set Resource Preferences of activity",
                "description":"",
                "operationId":"put /rest/ofscCore/v1/activities/{activityId}/resourcePreferences",
                "x-relation":[
                    "replace"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/resourcePreferences"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Activity Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/resourcePreferences"
                        }
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-resourcePreferences-put"
            },
            "get":{
                "produces":[
                    "application/json"
                ],
                "summary":"Get Resource Preferences of activity",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/activities/{activityId}/resourcePreferences",
                "x-relation":[
                    "canonical"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/resourcePreferences"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Activity Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-resourcePreferences-get"
            },
            "delete":{
                "produces":[
                    "application/json"
                ],
                "summary":"Delete Resource Preferences of activity",
                "description":"",
                "operationId":"delete /rest/ofscCore/v1/activities/{activityId}/resourcePreferences",
                "x-relation":[
                    "delete"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Activity Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-resourcePreferences-delete"
            }
        },
        "/rest/ofscCore/v1/activities/{activityId}/requiredInventories":{
            "put":{
                "produces":[
                    "application/json"
                ],
                "summary":"Set Required Inventories of activity",
                "description":"",
                "operationId":"put /rest/ofscCore/v1/activities/{activityId}/requiredInventories",
                "x-relation":[
                    "replace"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/requiredInventories"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Activity Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/requiredInventories"
                        }
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-requiredInventories-put"
            },
            "get":{
                "produces":[
                    "application/json"
                ],
                "summary":"Get Required Inventories of activity",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/activities/{activityId}/requiredInventories",
                "x-relation":[
                    "canonical"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/requiredInventories"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Activity Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-requiredInventories-get"
            },
            "delete":{
                "produces":[
                    "application/json"
                ],
                "summary":"Delete Required Inventories of activity",
                "description":"",
                "operationId":"delete /rest/ofscCore/v1/activities/{activityId}/requiredInventories",
                "x-relation":[
                    "delete"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Activity Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-requiredInventories-delete"
            }
        },
        "/rest/ofscCore/v1/activities/{activityId}/customerInventories":{
            "get":{
                "produces":[
                    "application/json"
                ],
                "summary":"Get customer inventories",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/activities/{activityId}/customerInventories",
                "x-relation":[
                    "get-customer-inventories"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "type":"object",
                            "title":"Customer inventories",
                            "description":"Collection of customer inventories assigned to this activity",
                            "properties":{
                                "items":{
                                    "type":"array",
                                    "items":{
                                        "$ref":"#/definitions/customerInventory"
                                    }
                                }
                            }
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Unique identifier of activity in Oracle Field Service Cloud",
                        "type":"integer",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-customerInventories-get"
            }
        },
        "/rest/ofscCore/v1/activities/{activityId}/linkedActivities/{linkedActivityId}/linkTypes/{linkType}":{
            "delete":{
                "produces":[
                    "application/json"
                ],
                "summary":"Delete activity link",
                "description":"",
                "operationId":"delete /rest/ofscCore/v1/activities/{activityId}/linkedActivities/{linkedActivityId}/linkTypes/{linkType}",
                "x-relation":[
                    "delete-one"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Activity Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"linkedActivityId",
                        "in":"path",
                        "description":"Linked Activity Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"linkType",
                        "in":"path",
                        "description":"Link Type",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-linkedActivities-{linkedActivityId}-linkTypes-{linkType}-delete"
            },
            "get":{
                "produces":[
                    "application/json"
                ],
                "summary":"Get activity link details",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/activities/{activityId}/linkedActivities/{linkedActivityId}/linkTypes/{linkType}",
                "x-relation":[
                    "get-one"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/linkedActivity"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Activity Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"linkedActivityId",
                        "in":"path",
                        "description":"Linked Activity Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"linkType",
                        "in":"path",
                        "description":"Link Type",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-linkedActivities-{linkedActivityId}-linkTypes-{linkType}-get"
            },
            "put":{
                "produces":[
                    "application/json"
                ],
                "summary":"Replace activity link",
                "description":"",
                "operationId":"put /rest/ofscCore/v1/activities/{activityId}/linkedActivities/{linkedActivityId}/linkTypes/{linkType}",
                "x-relation":[
                    "replace-one"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/linkedActivity"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Activity Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"linkedActivityId",
                        "in":"path",
                        "description":"Linked Activity Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"linkType",
                        "in":"path",
                        "description":"Link Type",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/linkedActivity"
                        }
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-linkedActivities-{linkedActivityId}-linkTypes-{linkType}-put"
            }
        },
        "/rest/ofscCore/v1/activities/{activityId}/custom-actions/start":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Start activity",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/activities/{activityId}/custom-actions/start",
                "x-relation":[
                    "start"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/getActivitySchema"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Unique identifier of activity in Oracle Field Service Cloud",
                        "type":"integer",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/customActionActivityStatusChangeSchema"
                        }
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-custom-actions-start-post"
            }
        },
        "/rest/ofscCore/v1/activities/custom-actions/bulkUpdate":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Bulk update activities",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/activities/custom-actions/bulkUpdate",
                "x-relation":[
                    "bulkUpdate"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/customActionActivityBulkUpdateSchemaResponse"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/customActionActivityBulkUpdateSchema"
                        }
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-custom-actions-bulkUpdate-post"
            }
        },
        "/rest/ofscCore/v1/activities/{activityId}/custom-actions/suspend":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Suspend activity",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/activities/{activityId}/custom-actions/suspend",
                "x-relation":[
                    "suspend"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/getActivitySchema"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Unique identifier of activity in Oracle Field Service Cloud",
                        "type":"integer",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/customActionActivityStatusChangeSchema"
                        }
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-custom-actions-suspend-post"
            }
        },
        "/rest/ofscCore/v1/activities/{activityId}/linkedActivities":{
            "get":{
                "produces":[
                    "application/json"
                ],
                "summary":"Get activity links",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/activities/{activityId}/linkedActivities",
                "x-relation":[
                    "get-all"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/linkedActivities"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Activity Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-linkedActivities-get"
            },
            "delete":{
                "produces":[
                    "application/json"
                ],
                "summary":"Delete all activity links",
                "description":"",
                "operationId":"delete /rest/ofscCore/v1/activities/{activityId}/linkedActivities",
                "x-relation":[
                    "delete-all"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/linkedActivities"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Activity Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/linkedActivities"
                        }
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-linkedActivities-delete"
            },
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Create activity link",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/activities/{activityId}/linkedActivities",
                "x-relation":[
                    "create-one"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/linkedActivity"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Activity Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/linkedActivity"
                        }
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-linkedActivities-post"
            }
        },
        "/rest/ofscCore/v1/activities/{activityId}/custom-actions/move":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Move activity",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/activities/{activityId}/custom-actions/move",
                "x-relation":[
                    "move"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/getActivitySchema"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Unique identifier of activity in Oracle Field Service Cloud",
                        "type":"integer",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/customActionActivityMoveSchema"
                        }
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-custom-actions-move-post"
            }
        },
        "/rest/ofscCore/v1/activities":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Create new activity",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/activities",
                "x-relation":[
                    "create"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/getActivitySchema"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/createActivitySchema"
                        }
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-post"
            }
        },
        "/rest/ofscCore/v1/activities/{activityId}/custom-actions/complete":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Complete activity",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/activities/{activityId}/custom-actions/complete",
                "x-relation":[
                    "complete"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/getActivitySchema"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Unique identifier of activity in Oracle Field Service Cloud",
                        "type":"integer",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/customActionActivityStatusChangeSchema"
                        }
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-custom-actions-complete-post"
            }
        },
        "/rest/ofscCore/v1/activities/{activityId}/custom-actions/notDone":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"NotDone activity",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/activities/{activityId}/custom-actions/notDone",
                "x-relation":[
                    "notDone"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/getActivitySchema"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"activityId",
                        "in":"path",
                        "description":"Unique identifier of activity in Oracle Field Service Cloud",
                        "type":"integer",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/customActionActivityStatusChangeSchema"
                        }
                    }
                ],
                "tags":[
                    "Core/Activities"
                ],
                "x-internal-id":"rest-ofscCore-v1-activities-{activityId}-custom-actions-notDone-post"
            }
        },
        "/rest/ofscCore/v1/inventories/{inventoryId}/custom-actions/undoInstall":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Undo Install Inventory",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/inventories/{inventoryId}/custom-actions/undoInstall",
                "x-relation":[
                    "undoInstall"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"inventoryId",
                        "in":"path",
                        "description":"Unique identifier of inventory in Oracle Field Service Cloud",
                        "type":"integer",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/inventoryCustomActionSchema"
                        }
                    }
                ],
                "tags":[
                    "Core/Inventories"
                ],
                "x-internal-id":"rest-ofscCore-v1-inventories-{inventoryId}-custom-actions-undoInstall-post"
            }
        },
        "/rest/ofscCore/v1/inventories/{inventoryId}/custom-actions/undoDeinstall":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Undo Deinstall Inventory",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/inventories/{inventoryId}/custom-actions/undoDeinstall",
                "x-relation":[
                    "undoDeinstall"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"inventoryId",
                        "in":"path",
                        "description":"Unique identifier of inventory in Oracle Field Service Cloud",
                        "type":"integer",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/inventoryCustomActionSchema"
                        }
                    }
                ],
                "tags":[
                    "Core/Inventories"
                ],
                "x-internal-id":"rest-ofscCore-v1-inventories-{inventoryId}-custom-actions-undoDeinstall-post"
            }
        },
        "/rest/ofscCore/v1/inventories/{inventoryId}/custom-actions/install":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Install Inventory",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/inventories/{inventoryId}/custom-actions/install",
                "x-relation":[
                    "install"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"inventoryId",
                        "in":"path",
                        "description":"Unique identifier of inventory in Oracle Field Service Cloud",
                        "type":"integer",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/inventoryCustomActionSchema"
                        }
                    }
                ],
                "tags":[
                    "Core/Inventories"
                ],
                "x-internal-id":"rest-ofscCore-v1-inventories-{inventoryId}-custom-actions-install-post"
            }
        },
        "/rest/ofscCore/v1/inventories/{inventoryId}/custom-actions/deinstall":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Deinstall Inventory",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/inventories/{inventoryId}/custom-actions/deinstall",
                "x-relation":[
                    "deinstall"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"inventoryId",
                        "in":"path",
                        "description":"Unique identifier of inventory in Oracle Field Service Cloud",
                        "type":"integer",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/inventoryCustomActionSchema"
                        }
                    }
                ],
                "tags":[
                    "Core/Inventories"
                ],
                "x-internal-id":"rest-ofscCore-v1-inventories-{inventoryId}-custom-actions-deinstall-post"
            }
        },
        "/rest/ofscCore/v1/inventories/{inventoryId}":{
            "patch":{
                "produces":[
                    "application/json"
                ],
                "summary":"Update Inventory",
                "description":"",
                "operationId":"patch /rest/ofscCore/v1/inventories/{inventoryId}",
                "x-relation":[
                    "update"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/inventory"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"inventoryId",
                        "in":"path",
                        "description":"Unique identifier of inventory in Oracle Field Service Cloud",
                        "type":"integer",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/inventory"
                        }
                    }
                ],
                "tags":[
                    "Core/Inventories"
                ],
                "x-internal-id":"rest-ofscCore-v1-inventories-{inventoryId}-patch"
            },
            "get":{
                "produces":[
                    "application/json"
                ],
                "summary":"Get Inventory",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/inventories/{inventoryId}",
                "x-relation":[
                    "canonical"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/inventory"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"inventoryId",
                        "in":"path",
                        "description":"Unique identifier of inventory in Oracle Field Service Cloud",
                        "type":"integer",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Inventories"
                ],
                "x-internal-id":"rest-ofscCore-v1-inventories-{inventoryId}-get"
            },
            "delete":{
                "produces":[
                    "application/json"
                ],
                "summary":"Delete Inventory",
                "description":"",
                "operationId":"delete /rest/ofscCore/v1/inventories/{inventoryId}",
                "x-relation":[
                    "delete"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"inventoryId",
                        "in":"path",
                        "description":"Unique identifier of inventory in Oracle Field Service Cloud",
                        "type":"integer",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Inventories"
                ],
                "x-internal-id":"rest-ofscCore-v1-inventories-{inventoryId}-delete"
            }
        },
        "/rest/ofscCore/v1/inventories":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Create Inventory",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/inventories",
                "x-relation":[
                    "create"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/inventory"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/inventory"
                        }
                    }
                ],
                "tags":[
                    "Core/Inventories"
                ],
                "x-internal-id":"rest-ofscCore-v1-inventories-post"
            }
        },
        "/rest/ofscMetadata/v1/workZones/{workZoneLabel}":{
            "put":{
                "summary":"Update Work Zone",
                "description":"",
                "operationId":"put /rest/ofscMetadata/v1/workZones/{workZoneLabel}",
                "x-relation":[
                    "update"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/workZone"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"workZoneLabel",
                        "in":"path",
                        "description":"Work Zone Label",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/workZone"
                        }
                    }
                ],
                "tags":[
                    "Metadata/WorkZones"
                ],
                "x-internal-id":"rest-ofscMetadata-v1-workZones-{workZoneLabel}-put"
            },
            "get":{
                "summary":"Get Work Zone",
                "description":"",
                "operationId":"get /rest/ofscMetadata/v1/workZones/{workZoneLabel}",
                "x-relation":[
                    "canonical"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/workZone"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"workZoneLabel",
                        "in":"path",
                        "description":"Work Zone Label",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Metadata/WorkZones"
                ],
                "x-internal-id":"rest-ofscMetadata-v1-workZones-{workZoneLabel}-get"
            }
        },
        "/rest/ofscMetadata/v1/workZones/custom-actions/populateShapes/{#/definitions/downloadId}":{
            "get":{
                "produces":[
                    "application/json"
                ],
                "summary":"Get Status Of Populate Shapes",
                "description":"",
                "operationId":"get /rest/ofscMetadata/v1/workZones/custom-actions/populateShapes/{#/definitions/downloadId}",
                "x-relation":[
                    "get-shapes"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/customActionWorkZonesPopulateShapesSchemaResponse"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"#/definitions/downloadId",
                        "in":"path",
                        "description":"Download Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Metadata/WorkZones"
                ],
                "x-internal-id":"rest-ofscMetadata-v1-workZones-custom-actions-populateShapes-{#-definitions-downloadId}-get"
            }
        },
        "/rest/ofscMetadata/v1/workZones/custom-actions/populateShapes":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Add Populate Shapes",
                "description":"",
                "operationId":"post /rest/ofscMetadata/v1/workZones/custom-actions/populateShapes",
                "x-relation":[
                    "create-shapes"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/customActionWorkZonesPopulateShapesSchemaResponse"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/customActionWorkZonesPopulateShapesSchema"
                        }
                    }
                ],
                "tags":[
                    "Metadata/WorkZones"
                ],
                "x-internal-id":"rest-ofscMetadata-v1-workZones-custom-actions-populateShapes-post"
            }
        },
        "/rest/ofscMetadata/v1/workZones":{
            "post":{
                "summary":"Create Work Zone",
                "description":"",
                "operationId":"post /rest/ofscMetadata/v1/workZones",
                "x-relation":[
                    "create"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/workZone"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/workZone"
                        }
                    }
                ],
                "tags":[
                    "Metadata/WorkZones"
                ],
                "x-internal-id":"rest-ofscMetadata-v1-workZones-post"
            }
        },
        "/rest/ofscCore/v1/resources/{resourceId}/routes":{
            "get":{
                "produces":[
                    "application/json"
                ],
                "summary":"Get resource routes",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/resources/{resourceId}/routes",
                "x-relation":[
                    "canonical"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-routes-get"
            }
        },
        "/rest/ofscCore/v1/resources/{resourceId}/routes/{date}/custom-actions/activate":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Activate resource route",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/resources/{resourceId}/routes/{date}/custom-actions/activate",
                "x-relation":[
                    "activate"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"date",
                        "in":"path",
                        "description":"Date",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-routes-{date}-custom-actions-activate-post"
            }
        },
        "/rest/ofscCore/v1/resources/{resourceId}/assignedLocations":{
            "put":{
                "produces":[
                    "application/json"
                ],
                "summary":"Set assigned locations",
                "description":"",
                "operationId":"put /rest/ofscCore/v1/resources/{resourceId}/assignedLocations",
                "x-relation":[
                    "set-assigned-locations"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/resourceAssignedLocationsWeek"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/resourceAssignedLocationsWeek"
                        }
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-assignedLocations-put"
            },
            "get":{
                "produces":[
                    "application/json"
                ],
                "summary":"Get assigned locations",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/resources/{resourceId}/assignedLocations",
                "x-relation":[
                    "assigned-locations"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/resourceAssignedLocationsWeek"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-assignedLocations-get"
            },
            "delete":{
                "produces":[
                    "application/json"
                ],
                "summary":"Unset assigned locations",
                "description":"",
                "operationId":"delete /rest/ofscCore/v1/resources/{resourceId}/assignedLocations",
                "x-relation":[
                    "unset-assigned-locations"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-assignedLocations-delete"
            }
        },
        "/rest/ofscCore/v1/resources/{resourceId}/children":{
            "get":{
                "produces":[
                    "application/json"
                ],
                "consumes":[
                    "application/x-www-form-urlencoded"
                ],
                "summary":"Get resource children",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/resources/{resourceId}/children",
                "x-relation":[
                    "children"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/resources"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-children-get"
            }
        },
        "/rest/ofscCore/v1/resources/{resourceId}":{
            "get":{
                "produces":[
                    "application/json"
                ],
                "summary":"Get resource",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/resources/{resourceId}",
                "x-relation":[
                    "canonical"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/resource"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-get"
            },
            "put":{
                "produces":[
                    "application/json"
                ],
                "summary":"Create resource",
                "description":"",
                "operationId":"put /rest/ofscCore/v1/resources/{resourceId}",
                "x-relation":[
                    "replace"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/resource"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/resource"
                        }
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-put"
            },
            "patch":{
                "produces":[
                    "application/json"
                ],
                "summary":"Update resource",
                "description":"",
                "operationId":"patch /rest/ofscCore/v1/resources/{resourceId}",
                "x-relation":[
                    "update"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/resource"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/resource"
                        }
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-patch"
            },
            "delete":{
                "produces":[
                    "application/json"
                ],
                "summary":"Delete resource",
                "description":"",
                "operationId":"delete /rest/ofscCore/v1/resources/{resourceId}",
                "x-relation":[
                    "delete"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-delete"
            }
        },
        "/rest/ofscCore/v1/resources/{resourceId}/workSchedules":{
            "get":{
                "produces":[
                    "application/json"
                ],
                "summary":"Get work schedules",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/resources/{resourceId}/workSchedules",
                "x-relation":[
                    "work-schedules"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/workSchedules"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-workSchedules-get"
            },
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Set work schedule",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/resources/{resourceId}/workSchedules",
                "x-relation":[
                    "set-work-schedule"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/workSchedules"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-workSchedules-post"
            }
        },
        "/rest/ofscCore/v1/resources/{resourceId}/plans":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Create work plan for resource",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/resources/{resourceId}/plans",
                "x-relation":[
                    "create-plan"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/plan"
                        }
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-plans-post"
            }
        },
        "/rest/ofscCore/v1/resources/{resourceId}/inventories/{inventoryId}/custom-actions/install":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Install inventory",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/resources/{resourceId}/inventories/{inventoryId}/custom-actions/install",
                "x-relation":[
                    "install-inventory"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource that has this inventory (or resource that is assigned an activity that has this inventory)",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"inventoryId",
                        "in":"path",
                        "description":"Unique identifier of inventory in Oracle Field Service Cloud",
                        "type":"integer",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/inventoryCustomActionSchema"
                        }
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-inventories-{inventoryId}-custom-actions-install-post"
            }
        },
        "/rest/ofscCore/v1/resources/{resourceId}/users":{
            "get":{
                "produces":[
                    "application/json"
                ],
                "consumes":[
                    "application/x-www-form-urlencoded"
                ],
                "summary":"Get resource users",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/resources/{resourceId}/users",
                "x-relation":[
                    "users"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/resourceUsers"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-users-get"
            },
            "put":{
                "produces":[
                    "application/json"
                ],
                "summary":"Set users",
                "description":"",
                "operationId":"put /rest/ofscCore/v1/resources/{resourceId}/users",
                "x-relation":[
                    "set-users"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/resourceUsers"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/resourceUsers"
                        }
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-users-put"
            },
            "delete":{
                "produces":[
                    "application/json"
                ],
                "summary":"Unset users",
                "description":"",
                "operationId":"delete /rest/ofscCore/v1/resources/{resourceId}/users",
                "x-relation":[
                    "unset-users"
                ],
                "responses":{
                    "default":{
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-users-delete"
            }
        },
        "/rest/ofscCore/v1/resources/{resourceId}/routes/{date}":{
            "get":{
                "produces":[
                    "application/json"
                ],
                "consumes":[
                    "application/x-www-form-urlencoded"
                ],
                "summary":"Get resource route",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/resources/{resourceId}/routes/{date}",
                "x-relation":[
                    "self"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/route"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"date",
                        "in":"path",
                        "description":"Date",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-routes-{date}-get"
            }
        },
        "/rest/ofscCore/v1/resources/custom-actions/findMatchingResources":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Find matching resources",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/resources/custom-actions/findMatchingResources",
                "x-relation":[
                    "find-matching-resources"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/findMatchingResourcesResponseSchema"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/findMatchingResourcesRequestSchema"
                        }
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-custom-actions-findMatchingResources-post"
            }
        },
        "/rest/ofscCore/v1/resources/{resourceId}/locations":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Create resource location",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/resources/{resourceId}/locations",
                "x-relation":[
                    "create"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/resourceLocation"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/resourceLocation"
                        }
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-locations-post"
            },
            "get":{
                "produces":[
                    "application/json"
                ],
                "consumes":[
                    "application/x-www-form-urlencoded"
                ],
                "summary":"Get resource locations",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/resources/{resourceId}/locations",
                "x-relation":[
                    "locations"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/resourceLocations"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-locations-get"
            }
        },
        "/rest/ofscCore/v1/resources/{resourceId}/workSkills":{
            "post":{
                "produces":[
                    "application/json"
                ],
                "summary":"Set work skills",
                "description":"",
                "operationId":"post /rest/ofscCore/v1/resources/{resourceId}/workSkills",
                "x-relation":[
                    "set-work-skills"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/workSkills"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "schema":{
                            "$ref":"#/definitions/workSkills"
                        }
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-workSkills-post"
            },
            "get":{
                "produces":[
                    "application/json"
                ],
                "summary":"Get work skills",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/resources/{resourceId}/workSkills",
                "x-relation":[
                    "work-skills"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/workSkills"
                        },
                        "description":""
                    }
                },
                "parameters":[
                    {
                        "name":"resourceId",
                        "in":"path",
                        "description":"Resource Id",
                        "type":"string",
                        "required":true
                    }
                ],
                "tags":[
                    "Core/Resources"
                ],
                "x-internal-id":"rest-ofscCore-v1-resources-{resourceId}-workSkills-get"
            }
        },
        "/rest/ofscCore/v1/resources":{
            "get":{
                "produces":[
                    "application/json"
                ],
                "consumes":[
                    "application/x-www-form-urlencoded"
                ],
                "summary":"Get resources",
                "description":"",
                "operationId":"get /rest/ofscCore/v1/resources",
                "x-relation":[
                    "canonical"
                ],
                "responses":{
                    "default":{
                        "schema":{
                            "$ref":"#/definitions/resources"
                        },
                        "description":""
                    }
                },
                "parameters":[
                ],
[...]
