@()
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My AngularJS App</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("img/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/app.css")">
        <script data-main="@routes.Assets.versioned("js/main.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
    </head>
    <body>
        <a href="http://www.reactivemanifesto.org/"> <img style="border: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 9000" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-white-right.png"> </a>
        <div id="wrapper">
            <div id="header">
            </div> <!-- #header -->
            <div id="content">
                <ul class="menu" ng-controller="MenuCtrl">
                    <li ng-if="!isLoggedIn"><a href="#/signup">Sign up!</a></li>
                    <li ng-if="!isLoggedIn"><a href="#/login">Login</a></li>
                    <li ng-if="isLoggedIn"><a href="#/">Home</a> &nbsp;({{email}})</li>
                    <li ng-if="isLoggedIn"><a href="#/search">Search</a></li>
                    <li ng-if="isLoggedIn"><a href="/swagger-ui?url=/api-docs">swagger-ui</a></li>
                    <li ng-if="isLoggedIn"><button ng-click="logout()">Logout</button></li>
                </ul>

                <div ng-view></div>
            </div>

            <div id="footer" class="footer right small">
                <div>Favorite movies app: v<span app-version></span></div>
            </div> <!-- #footer -->
        </div>
    </body>
</html>